html, body {
    height: 100%;
    min-width: 400px;
}

.container {
    display: table;
    width: 98%;
    height: calc(100% - 100px);
    margin-top: -50px;
    padding: 10px 0 0 0;
    box-sizing: border-box;
}

.container-nav {
    padding-top: 50px;
}

label {
    font-weight: 400;
}

.custom-row {
    height: 100%;
    display: table-row;
}

    .custom-row .no-float {
        display: table-cell;
        float: none;
    }

.header-img {
    margin-top: -5px;
}

.left-col {
    height: 99%;
    min-height: 187px;
    padding-left: 3px;
    padding-right: 3px;
}

.header-information {
    background-color: #eaeaea;
    margin-bottom: 7px;
    min-height: 33px;
    height: auto;
    padding: 0 10px;
    font-size: 12px;
}

.header-information-title {
    font-size: 11px;
    font-weight: bold;
    line-height: 30px;
}

.header-information-help {
    font-size: 21px;
}

    .header-information-help:hover {
        cursor: pointer;
    }

.header-information-help-tooltip + .tooltip > .tooltip-inner {
    font-size: 13px;
    max-width: 325px;
    color: #fff;
    font-weight: bold;
}

.col-header-title {
    font-weight: 600;
    font-size: 19px;
    display: inline-block;
    margin-right: 7px;
    vertical-align: middle;
    line-height: 35px;
}

    .col-header-title h1 {
        font-weight: 600;
        font-size: 19px;
        line-height: 20px;
        margin: 0px;
    }

    .col-header-title h2 {
        font-size: 11.5px;
        font-weight: 400;
        line-height: 10px;
        margin: 3px 0 0;
    }

.navbar {
    margin-bottom: 0px;
}

.tab-container {
    display: none;
    padding-top: 7px;
}

    .tab-container.active {
        display: block;
    }

.tabs-commands {
    margin-top: 5px;
    margin-bottom: 10px;
}

.dropdown-toggle {
    padding-left: 7px;
    padding-right: 7px;
}

.dropdown-toggle-title {
    margin-right: 1px;
}

.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.reduced-margin {
    margin-bottom: 10px;
}

h5 {
    font-weight: bold;
    font-size: 17px;
    margin-top: 13px;
    margin-bottom: 5px;
}

.radio-label, .checkbox-label {
    font-weight: 400;
}

.row.tabRow .checkbox {
    margin-top: 5px;
    margin-bottom: 5px;
}

.no-bold {
    font-weight: normal;
}

.bold-text {
    font-weight: bold;
}

.list-group-item.active {
    border-color: #fff #428bca;
}

button[disabled] {
    cursor: not-allowed;
    pointer-events: all !important;
}

.link-lookalike {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}

.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert {
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid #fff;
    border-radius: .25rem;
    font-size: 15px;
}

    .alert span[data-notify="title"] {
        font-weight: bold;
    }

@media (max-width: 768px) {
    .container > .navbar-header {
        margin-right: 0;
        margin-left: 0;
    }

    .nav-tabs li a {
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

@media (min-width: 1400px) {
    .container {
        padding: 50px 0 0 0;
        height: calc(100% - 75px);
    }
}
